form.inline {
    display:inline-flex;
    margin:5px;
    padding:0px;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    border-bottom: 5px solid #000099;
    border-radius: 15px;
    float: right;
    margin-bottom: 5px;
    margin-left: 5px;
    max-width: 150px;
}

#main input {
    background-color: lightgoldenrodyellow;
    border: 1px solid #ddd;
    color: #000099;
	font-weight: 600;
	border-radius: 5px;
}

#main input:hover  {
    background-color: goldenrod;
}

#submitBTN {
    padding: 8px 15px;
    margin: 0px 10px;
}

div#scrollBox {
    float: right;
    height: 80%;
    overflow-y: auto;
    margin-right: 5px;
}

div#creator {
    float: right;
    position: relative;
    width: 40%;
    height: 0;
    padding-bottom: 40%;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 25px;
    background-image: url("img/tshirt.svg");
    background-size: contain;
    background-color: whitesmoke;
}

#main {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#generateBTN {
    height: 30px;
    margin-left: 20px;
    margin-top: auto;
}

#creator > img {
    position: absolute;
}

#mask {
    /* Même tailles que #creator */
    object-fit: contain;
    border-radius: inherit;
    max-width: 100%;
    max-height: 100%;
    /* Le masque reste toujours au dessus des images */
    z-index: 1;
    /* On clique au travers le masque */
    pointer-events: none;
}

.handle {
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

/* Evite de tout sélectionner en faisant drag&drop / resize */
/* https://stackoverflow.com/a/2326028/5591299 */
*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }

 .delBtn {
     height: 15px;
     color: red;
     position: absolute;
     visibility: hidden;
     z-index: 1;
     transform: rotate(45deg);
     /* Créé à l'aide de https://codepen.io/sosuke/pen/Pjoqqp */
     filter: invert(26%) sepia(88%) saturate(7392%) hue-rotate(5deg) brightness(97%) contrast(129%);
 }

 .hidden {
    display: none;
    position: absolute;
  }

body {
    background: radial-gradient(circle, rgba(202, 255, 208, 1) 0%, rgba(215, 255, 241, 1) 100%);
}