form.inline {
    display:inline-flex;
    margin:5px;
    padding:0px;
    justify-content: center;
    align-items: center;
}

form.inline input  {
    padding: 8px 15px;
    background-color: green;
    border: 1px solid #ddd;
    color: white;
    margin: 0px 10px;
}

form.inline input:hover  {
    background-color: darkgreen;
}

#creator {
    float: left;
    width: 500px;
    height: 500px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-image: url("img/tshirt.svg");
}

#creator > img {
    position: absolute;
}

#mask {
    /* Même tailles que #creator */
    width: inherit;
    height: inherit;
    border-radius: inherit;
    /* Le masque reste toujours au dessus des images */
    z-index: 1;
    /* On clique au travers le masque */
    pointer-events: none;
}

.handle {
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

/* Evite de tout sélectionner en faisant drag&drop / resize */
/* https://stackoverflow.com/a/2326028/5591299 */
*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }