body{
	background-color: #FFFFFF;
}

/*************************/
/*    Style du header    */
/*************************/
header{  
    overflow: hidden; 
    background-color: #BBBBBB; 
    text-align: center;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 2.5%;
} 
/*************************/
/*     Style du logo	 */
/*************************/
div.logo{
	float: left;
	padding: none;
	height: 100%;
	width: 10%;
}
img.logo_img{
	float: left; 
    padding: none;
}
/*************************/
/*     Style du nav      */
/*************************/
nav{
	float: left;
	width: 89%;
	height: 98%;
	margin: 1px;
}
nav ul{
	margin : none;
}
nav li{
	background-color: #999999;
	display: inline-block;
	width: 49%;
	padding: none;
	margin : none;
	border: 1px solid;
	border-color: #AAAAAA;
	border-radius: 10px;
}
nav li a{
	display: inline-block;
	text-decoration: none;
	width: 100%;
	color: #000099;
	font-weight: 600;
	border-radius: 5px;
}
/************************/
/* Style de la boutique */
/************************/
.t-shirt{
	margin: 10px;
}
a.t-shirt img{
	border: 1px solid;
	border-color: #000099;
	border-radius: 5px;
}
form.search input{
	align-self: center;
}
.t-shirt-capsule{
	float: left;
}
/******************************/
/* Style de la boutique admin */
/******************************/
a.input_admin{
	text-decoration: none;
}