html,
body {
  height: 89%;
}

#main {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

#canvasDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#canvas {
  border: 1px solid #d3d3d3;
  border-radius: 25px;
  flex-grow: 1;
  overflow: auto;
  margin: auto auto;
}

.hidden {
  display: none;
  position: absolute;
}

#main input[type="button"] {
  background-color: lightgoldenrodyellow;
  border: 1px solid #ddd;
  color: #000099;
  font-weight: 600;
  border-radius: 5px;
  height: 30px;
  margin-top: auto;
}

#main input:hover  {
  background-color: goldenrod;
}

#backBTN {
  margin-right: 20px;
}

#rightSidePanel {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#countLbl {
  font-size: 10px;
}

#description {
  height: 40px;
  margin-bottom: 5px;
}

#colorInput {
  width: 150px;
  margin-bottom: 5px;
}

#priceInput {
  width: 150px;
  margin-bottom: 5px;
}